.DS_Store
.idea
.ddev
.env
.vscode
*.bak
*.swp
database*.sql
/var
/vendor
/public/*
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/AdditionalConfiguration.php
/config/sites