<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <div class="tx-newsextension-singleNews-list">
    <h2>List of all news (inline fluid count: {news -> f:count()})(fluid count element: <f:count subject="{news}" />)</h2>
        <f:if condition="{news}">
            <f:then>
                    <f:for each="{news}" as="singleNews">
                        <div>
                            ________________________
                        </div>
                        <div>
                            <h1>
                                <f:link.action action="show" controller="Backend" arguments="{news: singleNews}">
                                <core:icon identifier="actions-document-edit" />
                                Title: {singleNews.title}
                            </f:link.action>
                            </h1>
                            <div>
                                <f:format.nl2br>{singleNews.content}</f:format.nl2br>
                            </div>
                        </div>
                    </f:for>
            </f:then>
            <f:else>
                <p>This storage currently doesn't contain any news.</p>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
