<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <h2>News of Category &quot;{category.title}&quot;</h2>
    <p>{category.description}</p>
    <div>
        <f:if condition="{category.news}">
            <f:then>
                <ul>
                    <f:for each="{category.news}" as="news">
                        <li>
                            <h3>
                                <f:link.action action="showNews" controller="Backend" arguments="{news: news, category: news.category}">
                                    <core:icon identifier="actions-document-edit" />
                                    Title: {news.title}
                                </f:link.action>
                            </h3>
                            <p>
                                <f:format.crop maxCharacters="100">{news.content}</f:format.crop>
                            </p>
                        </li>
                    </f:for>
                </ul>
            </f:then>
            <f:else>
                <p>This category currently doesn't contain any news.</p>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
